*{
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  font-size: 18px;
  box-sizing: border-box;
}

body{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

img{
  position: absolute;
  top: 35%;
  background-color: #fff;
  font-size: 35px;
}

input{
  flex: 1;
  width: 270px;
  height: 35px;
  background-color: white;
  border-radius: 35px;
  display: flex;
  align-items: center;
  padding: 10px;
}
 